body {
    margin: 0 auto;
    padding: 0;
    width: 1440px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-header, .container, .footer {
    width: 1440px;
    padding: 0;
    margin: 0 auto;
}

.main-header {
    background-color: #e1e1e1;
}

.complex {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header .complex {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.complex__main {
    width: 1160px;
    display: flex;
    margin: 0 auto;
}

.complex__name {
    width: 744px;
    align-items: center;
    margin: 0 auto;
    font-size: 55px;
    line-height: 55px;
    font-weight: medium;
    padding-top: 65px;
    padding-bottom: 150px;
    padding-left: 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    left: 0;
    top: 0;

}

.visually-none {
    display: none;
}

.list-disabled {
    list-style: none;
}

.transform-upper {
    text-transform: uppercase;
}

.main-navigation {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;

    line-height: 30px;
    text-transform: uppercase;
    background-color: #e1e1e1;
}

.main-navigation a {
    color: #000000;
    font-weight: 700;
}

.main-navigation a:hover {
    color: red;
    font-weight: 700;
}

.main-navigation a:focus,
.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation__logo img:focus,
.main-navigation__logo img:active {
    opacity: 0.3;
}

.main-navigation__pages {
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-right: 260px;
}

.main-navigation__pages li:nth-child(n+1) {
    padding-top: 10px;
}

.main-navigation__pages li:first-child {
    padding-top: -10px;
}

.main-navigation__basket {
    padding: 0;
    margin: 0;
    width: 80px;
    list-style: none;
}

.main-navigation__basket li {
    padding-top: 10px;
}

.main-navigation__logo {
    padding-right: 160px;
}

.inner-active a {
    border-bottom: 2px solid #fb565a;
    padding-bottom: 12px;
}

.inner-active a:hover,
.inner-active a:focus,
.inner-active a:active {
    border-bottom: none;
    padding-bottom: 12px;
}

.container li{
    list-style: none;
}

.button {
    font: inherit;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    background-color: #fb565a;
    border-radius: 5px;
}

.slider__wraper {
    width: 1440px;
    padding: 0;
    margin: 0 auto;
    background-color: #e1e1e1;
}

.slider {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.slider-items {
    margin: 0 auto;
    padding: 0;
}

.slider-items p {
    color: #283136;
}

.slider-items b {
    line-height: 55px;
    font-size: 55px;
}

.slider-items__richly {
    display: flex;
    padding: 0;
    width: 1160px;
    justify-content: space-between;
}

.slider-items__complex:nth-child(1) {
    width: 400px;
    padding-top: 60px;
}

.slider-items__complex:nth-child(2) {
    width: 700px;
    padding-right: 30px;
}

.filter-form .button {
    background-color: #eeeeee;
}

.features h2 {
    font-size: 45px;
    line-height: 45px;
}

.service-pack {
    margin: 0 auto;
    padding: 0;
}

.services {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    justify-content: space-between;
    padding-top: 75px;
}

.services__list {
    width: 300px;
    padding-right: 60px;
}

.services h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.services p {
    color: #283136
}

.services__list:nth-child(2) a {
    background-color: #00ca74;
}

.services__list:nth-child(3) a {
    background-color: #efc84a;
}


.services__list:nth-child(1) {
    background-image: url("../img/illustration-1.jpg");
    background-repeat: no-repeat;
    padding-top: 150px;
}

.services__list:nth-child(2) {
    background-image: url("../img/illustration-2.jpg");
    background-repeat: no-repeat;
    padding-top: 150px; 
}

.services__list:nth-child(3) {
    background-image: url("../img/illustration-3.jpg");
    background-repeat: no-repeat;
    padding-top: 170px;
}

.services__list a:active,
.services__list a:focus {
    color: rgb(255, 255, 255, 0.3);
}

.services__button-1:hover {
    background-color: #e74246;
}

.services__button-1:active,
.services__button-1:focus {
    background-color: #d7373b;
    color: rgb(255, 255, 255, 0.3);
}

.services__button-2:hover {
    background-color: #00bc6c;
}

.services__button-2:active,
.services__button-2:focus {
    background-color: #00aa62;
}

.services__button-3:hover {
    background-color: #eab534;
}

.services__button-3:active,
.services__button-3:focus {
    background-color: #e5a722;
}

.features {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    justify-content: space-between;
    padding-top: 90px;
}

.features__item:nth-child(1) {
    padding-top: 40px;
    width: 660px;
}

.features__item:nth-child(2) {
    width: 360px;
    padding-top: 40px;
}

.features h2 {
    font-size: 45px;
    line-height: 45px;
}

.features p,
.features li {
    color: #283136;
}

.main-partners {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    padding-top: 180px;

}

.partners {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

}

.partners li {
    width: 260px;
    padding: 0px;
    margin: 0px;
}

.partners a {
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}

.partners a:focus,
.partners a:active {
    opacity: 0.2;
}

.map {
    width: 1440px;
    padding: 0px;
    margin: 0 auto;
    margin-left: -120px;
    padding-top: 10px;
}

.map h3 {
    font-size: 18px;
    line-height: 30px;
}

.map__contacts {
    font-style: normal;
    color: #666666;
    line-height: 18px;
}

.works {
    display: flex;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.works li {
    padding-bottom: 33px;
}

.works p {
    line-height: 18px;
    color: #666666;
}

.works h3 {
    font-size: 18px;
    font-weight: 700px;
    line-height: 30px;
    text-transform: uppercase;
}

.pages {
    display: flex;
    width: 450px;
}

.pages__button {
    color: #000000;
    background-color: #eeeeee;
    border-radius: 0px;
}

.pages__button:hover {
    background-color: #dfdfdf;
}

.pages__button:active,
.pages__button:focus {
    background-color: #d5d5d5;
    color: rgb(0, 0, 0, 0.3);
}

.sort {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 760px;
}

.sort-type {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 360px;
}


.filter {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

.filter-form {
    display: flex;
    width: 265px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.filter-form__legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-form label {
    line-height: 20px;
    color: #283136;
}

.sort-type a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.main-footer {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    padding-bottom: 30px;
    align-items: center;
}

.footer-social {
    display: flex;
    width: 267px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
}

.main-footer b {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.main-footer p {
    line-height: 22px;
    color: #444444;
}

.footer-social li {
    width: 79px;
    height: 79px;
    list-style: none;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.footer-social li:hover {
    background-color: #e74246;
}

.footer-social li:focus,
.footer-social li:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.footer-friends {
    width: 545px;
    padding-left: 135px; 
    padding-top: 30px;
}