body {
    margin: 0 auto;
    padding: 0;
    width: 1440px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

*, *::before, *::after { box-sizing: inherit; }

.main-header, .container, .footer {
    width: 1440px;
    padding: 0;
    margin: 0 auto;
}

.main-header {
    background-color: #e1e1e1;
    margin-bottom: 53px;
}

.complex {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header .complex {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.complex__main {
    width: 1160px;
    display: flex;
    margin: 0 auto;
}

.complex__name {
    width: 744px;
    align-items: center;
    margin: 0 auto;
    font-size: 55px;
    line-height: 55px;
    font-weight: medium;
    padding-top: 65px;
    padding-bottom: 110px;
    padding-left: 10px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    left: 0;
    top: 0;

}

.visually-none {
    display: none;
}

.list-disabled {
    list-style: none;
}

.transform-upper {
    text-transform: uppercase;
}

.main-navigation {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;

    line-height: 30px;
    text-transform: uppercase;
    background-color: #e1e1e1;
}

.main-navigation a {
    color: #000000;
    font-weight: 700;
}

.main-navigation a:hover {
    color: red;
    font-weight: 700;
}

.main-navigation a:focus,
.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation__logo img:focus,
.main-navigation__logo img:active {
    opacity: 0.3;
}

.main-navigation__pages {
    position: relative;
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.main-navigation__pages li:nth-child(n+1) {
    padding-top: 10px;
}

.main-navigation__pages li:first-child {
    padding-top: -10px;
}

.main-navigation__basket {
    position: relative;
    padding: 0;
    margin: 0;
    width: 80px;
    list-style: none;
}

.main-navigation__basket li {
    padding-top: 10px;
}

.main-navigation__basket li::before {
    position: absolute;
    content: "";
    background: url("../img/cart-icon.svg") no-repeat;
    background-size: 15px 15px;
    top: 20px;
    right: 100px;
    background-position: 0 0;
    width: 15px;
    height: 15px;
}

.main-navigation__logo {
    padding-right: 160px;
}

.inner-active::after {
    display: block;
    content: "";
    position: absolute;
    width: 75px;
    top: 55px;
    left: 594px;
    border-bottom: 2px solid #fb565a;
    padding-bottom: 12px;
}

.inner-active:hover::after,
.inner-active:hover::active,
.inner-active:hover::focus {
    display: none;
}

.container li{
    list-style: none;
}

.button {
    font: inherit;
    font-weight: 400;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 500;

    background-color: #fb565a;
    border-radius: 3px;
}

.slider__wraper {
    position: relative;
    width: 1440px;
    padding: 0;
    margin: 0 auto;
    background-color: #e1e1e1;
}

.slider {
    width: 1160px;
    padding: 0;
    margin: 0 auto;
}

.slider-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-item {
    padding: 65px 0 90px 0;
    display: none;
}

.slider-item p {
    color: #283136;
    max-width: 430px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 55px;
}

.slider-item b {
    display: block;
    max-width: 600px;
    
    line-height: 55px;
    font-size: 55px;
    font-weight: 500;
}

.slider-button {
    padding-left: 55px;
    padding-right: 55px;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide-1.png");
    background-repeat: no-repeat;
    background-position: 93% 8px;
  }

.slider-item:nth-child(2) {
    background-image: url("../img/slide-2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
  
.slider-item:nth-child(3) {
    background-image: url("../img/slide-3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

.slider-controls {
    position: absolute;
    left: 50.5%;
    bottom: 94px;
    z-index: 100;
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
    
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    height: 18px;
    padding: 8px;
    padding: 0 18px;
    border-radius: 50%;
    cursor: pointer;
}
  
.slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
}

#product-1:checked ~ .slider-items .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-items .slider-item:nth-child(2) {
    display: block;
}
  
#product-3:checked ~ .slider-items .slider-item:nth-child(3) {
    display: block;
}
  
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 8px;
    height: 8px;
    margin: -4px;
    margin-left: -14px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.filter-form .button {
    background-color: #eeeeee;
}

.features h2 {
    font-size: 45px;
    line-height: 45px;
}

.service-pack {
    margin: 0 auto;
    padding: 0;
}

.services {
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-right: 60px;
    width: 1160px;
    justify-content: space-between;
    padding-top: 80px;
}

.services__list {
    width: 300px;
    margin: 0;
    padding: 0;
    padding-top: 150px;
    background-repeat: no-repeat;

}

.services h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0;
    margin-top: 22px;
}

.services p {
    width: 260px;
    color: #283136;
    letter-spacing: normal;
    font-weight: 500;
    padding: 0px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 46px;
}

.services__list:nth-child(2) a {
    background-color: #00ca74;
}

.services__list:nth-child(3) a {
    background-color: #efc84a;
}

.services__list:nth-child(1) {
    background-image: url("../img/illustration-1.jpg");
}

.services__list:nth-child(2) {
    background-image: url("../img/illustration-2.jpg");
}

.services__list:nth-child(3) {
    background-image: url("../img/illustration-3.jpg");
}

.services__list a:active,
.services__list a:focus {
    color: rgb(255, 255, 255, 0.3);
}

.services__button-1:hover {
    background-color: #e74246;
}

.services__button-1:active,
.services__button-1:focus {
    background-color: #d7373b;
    color: rgb(255, 255, 255, 0.3);
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.services__button-2:hover {
    background-color: #00bc6c;
}

.services__button-2:active,
.services__button-2:focus {
    background-color: #00aa62;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.services__button-3:hover {
    background-color: #eab534;
}

.services__button-3:active,
.services__button-3:focus {
    background-color: #e5a722;
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1)
}

.features {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    justify-content: space-between;
    padding-top: 90px;
    margin-bottom: 61px;
}

.features__item {
    padding: 0;
}

.features__item:nth-child(1) {
    padding-top: 40px;
    width: 660px;
}

.features__item:nth-child(2) {
    width: 360px;
    padding-top: 41px;
}

.features__item h2 {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 0;
}

.features__item p {
    margin-top: 32px;
    letter-spacing: normal;
    font-weight: 400;
    margin-bottom: 42px;
}

.features__item ul {
    margin: 0;
    margin-top: 12px;
    padding-left: 35px;
}

.features__item li {
    padding: 12px 0;
}

.features p,
.features li {
    color: #283136;
}

.features__list {
    position: relative;
}

.features__list li::before {
    content: "";
    position: absolute;
    margin-top: 12px;
    left: 1px;
    width: 25px;
    vertical-align: bottom;
    border-bottom: 2px solid #fb565a;
}

.features__item:nth-child(2) p {
    margin-top: 33px;
    padding-left: 17px;
    font-weight: 700;
}

.features:nth-child(2) .item-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 0;
}

.item-2 li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    line-height: 18px;
    margin-top: 8px;
}

.item-2:nth-child(2) {
    padding-left: 40px;
}

.item-2 span {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    line-height: 10px;
    padding-bottom: 38px;
}

.item-2 span::after {
    position: absolute;
    content: "%";
    font-size: 25px;
    top: -10px; 
    left: 78px;
}

.prepay span::after {
    position: absolute;
    content: "%";
    font-size: 25px;
    top: -10px; 
    left: 50px;
}

.main-partners {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    padding-top: 0px;
    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
}

.partners {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.partners li {
    width: 260px;
    padding: 0px;
    margin: 0px;
}

.partners a {
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}

.partners a:focus,
.partners a:active {
    opacity: 0.2;
}

.map {
    position: relative;
    width: 1440px;
    padding: 0px;
    margin: 0 auto;
    margin-left: -140px;
    margin-top: 75px;
}

.map::after {
    position: absolute;
    content: "";
    width: 231px;
    height: 190px;
    background: url("../img/map-marker.png") no-repeat 0 0;
    background-size: 231px 190px;
    top: 90px;
    left: 820px;
    z-index: 2;
}

.map h3 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}

.address p {
    margin-top: 20px;
}

.address {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 319px;
    padding: 0 50px;
    top: 54px;
    left: 140px;
    background-color: #ffffff;
}

.map-button {
    margin-top: 20px;
    margin-bottom: 47px;
}

.map__contacts {
    width: 210px;
    font-style: normal;
    color: #666666;
    line-height: 18px;
}

.works {
    display: flex;
    padding: 0;
    margin: 0;
    width: 760px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-left: 30px;
}


.works li {
    position: relative;
    padding-bottom: 30px;
    padding-top: 40px;
}

.works li::before {
    content: "";
    position: absolute;
    background: url("../img/browser.svg") no-repeat;
    background-size: 360px 40px;
    width: 360px;
    height: 40px;
    top: 0px;;
    left: 0;
    padding-top: 0px;

    opacity: 0.3;
}

.works li:hover::before {
    opacity: 1;
}

.works p {
    width: 180px;
    line-height: 18px;
    color: #666666;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 43px;
}

.works h3 {
    font-size: 18px;
    font-weight: 700px;
    line-height: 30px;
    margin-top: 25px;
    text-transform: uppercase;
}

.works li:hover .work {
    display: block;
}

.works li:nth-child(2) p {
    width: 240px;
}

.works li:nth-child(n+5) p {
    width: 300px;
}

.work {
    position: absolute;
    background-color: #eeeeee;
    width: 360px;
    bottom: 40px;
    left: 0;
    text-align: center;
    padding-bottom: 52px;
}

.work a {
    padding-left: 61px;
    padding-right: 61px;

}

.pages {
    display: flex;
    width: 450px;
    margin: 0;
    padding: 0;
    margin-left: 30px;
}

.pages__button {
    color: #000000;
    border-radius: 0px;
    background-color: #eeeeee;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
}

.pages li:first-child a {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    padding: 12px 17px;
}

.pages li:nth-child(4) a {
    padding-right: 82px;
    padding-left: 82px;
}

.pages__button:hover {
    background-color: #dfdfdf;
}

.pages__button:active,
.pages__button:focus {
    background-color: #d5d5d5;
    color: rgb(0, 0, 0, 0.3);
}

.sort {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 760px;
    margin-bottom: 50px;
    padding-left: 15px;
}

.sort-type {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 270px;
    width: 360px;
    justify-content: space-between;
}

.sort-type a {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
}

.sort-type a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.sort-type a:focus,
.sort-type a:active {
    color: #000000;
}

.sort-type li:nth-child(n+4) a {
    display: block;
    width: 11px;
    height: 10px;
    background-position: center center;
    background-size: 11px 10px;
    margin-top: 5px;
}

.sort-type li:nth-child(1) a {
    color: #000000;
}

.sort-type li:nth-child(4) a {
    background: url("../img/icon-down-dir.svg") no-repeat;
}

.sort-type li:nth-child(5) a {
    background: url("../img/icon-up-dir.svg") no-repeat;
    opacity: 0.3;
}

.filter {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

.filter-form {
    display: flex;
    width: 265px;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.filter-item {
    margin: 0;
    padding: 0;
    
    border: none;
    margin-top: 5px;
    margin-bottom: 30px;
}
  
.range-filter {
    width: 260px;
    margin-top: 49px;
}
  
.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
  
.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 20px;
    padding-top: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 45px;
    
    background-color: #f1f1f1;
    
    border-radius: 5px;
}
  
.range-controls .scale {
    height: 2px;
  
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 70%;
    height: 2px;
    margin-top: 7px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 32px;
    left: 0;
    width: 20px;
    height: 23px;
    padding: 0;
    background: url("../img/filter-button.svg") no-repeat;
    background-size: 20px 23px;
    cursor: pointer;
}
  
.range-controls .toggle-min {
    left: 20px;
}
  
.range-controls .toggle-max {
    left: 160px;
}
  
.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    vertical-align: center;
    
    font-size: 16px;
    text-transform: uppercase;
}
  
.price-controls input {
    width: 80px;
    padding: 8px 10px;
    margin-left: 10px;

    font-size: 16px;
    text-align: center;
    color: #283136;
    
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}
  
.max-price {
    text-align: right;
    padding: 0;
    margin: 0;
}

.filter-form__legend {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-item-2, .filter-item-3 {
    border: none;
    margin: 0;
    padding: 0;
}

.filter-item-2 ul,
.filter-item-3 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-item-2 li,
.filter-item-3 li {
    padding-bottom: 15px;
}

.filter-item-2, .filter-item-3 {
    margin-bottom: 20px;
}

.filter-form label {
    line-height: 20px;
    color: #283136;
}

.filter-option label {
    position: relative;
    padding-left: 10px;
    margin-left: 20px;
}

.filter-input-radio + label::before {
    position: absolute;
    content: "";

    width: 25px;
    height: 25px;
    background: url("../img/radio-off.svg") no-repeat;
    background-size: 25px 25px;
    left: -22px;
    top: 0px;
}

.filter-input-radio:checked + label::after {
    position: absolute;
    content: "";

    width: 25px;
    height: 25px;
    background: url("../img/radio-on.svg") no-repeat;
    background-size: 25px 25px;
    left: -22px;
    top: 0px;
}

.filter-input-checkbox + label::before {
    position: absolute;
    content: "";

    width: 27px;
    height: 23px;
    background: url("../img/checkbox-off.svg") no-repeat;
    background-size: 27px 23px;
    left: -22px;
    top: 0px;
}

.filter-input-checkbox:checked + label::before {
    background: none;
}

.filter-input-checkbox:checked + label::after {
    position: absolute;
    content: "";
    width: 27px;
    height: 23px;
    background: url("../img/checkbox-on.svg") no-repeat;
    background-size: 27px 23px;
    left: -20px;
    top: 0px;
}

.main-footer {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1160px;
    margin-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.footer-social {
    width: 260px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-footer b {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.main-footer p {
    line-height: 22px;
    color: #444444;
}

.social-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 79px;
    height: 79px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    background-color: #e1e1e1;
}

.social-button:focus  path,
.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:focus,
.social-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    background-color: #d7373b;
}

.footer-friends {
    width: 545px;
    margin-left: 140px; 
    padding-top: 35px;
}

.index-header {
    margin-bottom: 0;
}

.feedback {
    position: absolute;
    left: 27.5%;
    top: 2420px;

    width: 960px;
    height: 590px;
    z-index: 100;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.feedback h2 {
    line-height: 45px;
    font-size: 45px;
    font-weight: 500;
    margin-left: 101px;
    margin-bottom: 45px;
}

.feedback p {
    display: flex;
    flex-direction: column;

    line-height: 18px;
    font-weight: 700;
}

.feedback form {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    flex-wrap: wrap;
}

.feedback input {
    font: inherit;
    width: 360px;
    height: 50px;
    margin: 10px 0;
    vertical-align: center;
    padding-left: 15px;
    line-height: 18px;
    font-weight: 400;
}

.feedback textarea {
    font: inherit;
    width: 760px;
    height: 118px;
    margin: 10px;
    margin-left: 0;
    padding-top: 10px;
    padding-left: 15px;
    line-height: 18px;
    font-weight: 400;

}

.feedback-form button {
    border: none;
    width: 260px;
    margin-bottom: 84px;
}

.modal-close {
    position: absolute;
    margin: 0;
    background-color: green;
    background: url("../img/close-cross.svg") no-repeat;
    background-size: 21px 21px;
    top: 50px;
    right: 90px;
    padding: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
    border: 0;
    font-size: 0;
}